*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/Test/Capture_img
/Test/Config.ini
/Test/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/DTXManiaプロジェクト.Tests/rhimm_c.pfx
/DTXManiaプロジェクト/rhimm_c.pfx
/Test/System/SimpleStyle/Graphics/5_Game/16_Runner/_0.png
