<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
		<supportedRuntime version="v2.0.50727"/>
		<supportedRuntime version="v2.0.50727"/>
		<supportedRuntime version="v1.1.4322"/>
		<supportedRuntime version="v1.0.3705"/>
	</startup>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="dll"/>
		</assemblyBinding>
	</runtime>
</configuration>
